<h1>Listings#index</h1>
<p>Find me in app/views/listings/index.html.erb</p>

<table>
	<tr>
		<th>Property name</th>
		<th>Property type</th>
		<th>Room Number</th>
		<th>Bed Number</th>
		<th>Guest number</th>
		<th>Country</th>
		<th>State</th>
		<th>City</th>
		<th>Zipcode</th>
		<th>Address</th>
		<th>Price</th>
		<th>Description</th>
		<th>User ID</th>
	</tr>

<% @listings.each do |x| %>
<tr>
<td><%= link_to x.name, listing_path(id: x.id) %></td>
<td><%= x.property_type %></td>
<td><%= x.room_number %></td>
<td><%= x.bed_number %></td>
<td><%= x.guest_number %></td>
<td><%= x.country %></td>
<td><%= x.state %></td>
<td><%= x.city %></td>
<td><%= x.zipcode %></td>
<td><%= x.address %></td>
<td><%= x.price %></td>
<td><%= x.description %></td>
<td><%= x.user_id %></td>
</tr>
<% end %>

</table>

<%= paginate @listings %>