<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">WebSiteName</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>

<h1>listing#show</h1>

<% user = User.find(@listing.user_id) %>

<h4>Posted by <%= user.name %></h4>

<table>
	<tr>
		<th>Property name</th>
		<th>Property type</th>
		<th>Room Number</th>
		<th>Bed Number</th>
		<th>Guest number</th>
		<th>Country</th>
		<th>State</th>
		<th>City</th>
		<th>Zipcode</th>
		<th>Address</th>
		<th>Price</th>
		<th>Description</th>
	</tr>

<% x = @listing %>
<tr>
<td><%= x.name %></td>
<td><%= x.property_type %></td>
<td><%= x.room_number %></td>
<td><%= x.bed_number %></td>
<td><%= x.guest_number %></td>
<td><%= x.country %></td>
<td><%= x.state %></td>
<td><%= x.city %></td>
<td><%= x.zipcode %></td>
<td><%= x.address %></td>
<td><%= x.price %></td>
<td><%= x.description %></td>
</tr>

</table>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag @listing.photos.first, class:"img-responsive" %>
    </div>
	
	<% @listing.photos.shift %>
	<% @listing.photos.each do |photo| %>
    <div class="item">
      <%= image_tag photo, class:"img-responsive" %>
    </div>
    <% end %>

  </div>

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div>
  <%= form_for [@listing, @reservation], url: listing_reservations_path(@listing.id) do |form| %>
    <%= render partial: '/reservations/form', object: form %>
    <%= form.submit "Submit Reservation" %>
  <% end %>
</div>